@* <form action="form" method="post">
    <label for="name">Your Name:</label>
    <input type="text" name="TextField" />
    <label for="location">Dojo Location:</label>
    <input type="text" name="TextField" />
    <label for="favLang">Favorite Language:</label>
    <select name="favLang" id="">
    <option value="C#">C#</option>
    <option value="JavaScript">JavaScript</option>
    <option value="Python">Python</option>
    <option value="HTML/CSS">HTML/CSS</option>
    </select>
    <label for="comment">Comment (optional):</label></p>
    <textarea id="comment" name="comment" rows="4" cols="50">
    </textarea>
    <button type="submit">Submit</button>
    </form> *@

<h1>Form Results</h1>
<h2>Name: @ViewBag.name</h2>
<h2>Dojo Location: @ViewBag.location</h2>
<h2>Favorite Language: @ViewBag.favLang</h2>
<h2>Comment: @ViewBag.comment</h2>