html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.delete {
  background-color: rgb(176, 97, 97);
}

.edit {
  background-color: rgb(65, 130, 215);
}