@{
    ViewData["Title"] = "Home Page";
}

@model Dish
<a href="/">Home</a>
<form action="/dish/createDish" method="post">
    <section>
        <label for="Chef">Chef's Name</label>
        <input type="text" name="Chef" id="">
        <span asp-validation-for="Chef"></span>
    </section>
    <section>
        <label for="DishName">Name of Dish</label>
        <input type="text" name="DishName" id="">
        <span asp-validation-for="DishName"></span>
    </section>
    <section>
        <label action="Calories">Number of Calories</label>
        <input type="number" name="Calories" id="">
        <span asp-validation-for="Calories"></span>
    </section>
    <section>
        <label for="Tastiness">Tastiness</label>
        <select name="Tastiness" id="">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <span asp-validation-for="Tastiness"></span>
    </section>
    <section>
        <label for="Description">Description</label>
        <textarea asp-for="Description" rows="5" cols="20"></textarea>
        <span asp-validation-for="Description"></span>
    </section>
    <button>Add Dish</button>
</form>